body{
    background-image: url(../src/pexels-mateusz-dach-450035.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items:center ;
    flex-direction: column;
}

h1{
    color: #fff;
    background-color: #4fb191be;
    border-radius: 10px;
    width: 50%;
    text-align: center;
    font-size: 2.5rem;
    padding: 10px 0;
}

img {
    width: 20%;
}